@model SectionViewModel;

@{
    Layout = "_PrivateLayout";

    string image = Model.Banner;
}

<main class="main-content position-relative max-height-vh-100 h-100 ps ps--active-y">
    <nav class="navbar navbar-main navbar-expand-lg px-4 shadow-none" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <h6>@Model.SectionName</h6>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>

    </nav>
    @RenderSection("Banner", required: false)
    <div class="container-fluid py-4">
        @RenderBody()
    </div>
</main>