@model ApplicationUser

@{
    string image = ImageUtilities.GetGravatarImage(Model.Email);
    if(String.IsNullOrEmpty(image))
    {
        image = Model.ProfilePicture == null ? "https://placehold.co/600x400/cb0c9f/white?text=" + Model.NormalizedUserName.ToCharArray()[0] : "";
    }
}

<div class="card h-100 user-card">
    <div class="profile-image avatar avatar-xxl rounded-circle mx-auto d-flex w-100 position-absolute justify-content-center align-items-center" style="left: 50%; top: 0; transform: translate(-50%, -50%);">
        <img src="@image" class="h-90 w-90" style="object-fit: cover; pointer-events: none;" />
    </div>
    <div class="card-body pt-5 mt-5">
        <h5 class="card-title text-center">@Model.UserName</h5>
    </div>
</div>