@model GroupViewModel;

@{
    Layout = "_Dashboard";
}

<div class="row">
    <h1>@Model.Name</h1>
</div>
<div class="row">
    <h2>Your Websites</h2>
    @foreach (Website website in Model.Websites)
    {
        <div class="col-md-2 p-1">
            @await Html.PartialAsync("./Components/WebsiteCard", website)
        </div>
    }
</div>
<div class="row">
    <h2>Your Credentials</h2>
    
</div>
@await Html.PartialAsync("/Views/Credentials/Components/Table.cshtml", Model.Credentials)
<div class="row">
    @foreach (ApplicationUser user in Model.AssignedUsers)
    {
        <div class="col-md-3 col-xs-6 mt-5">
            @await Html.PartialAsync("./Components/UserCard", user)
        </div>
    }
    <div class="col-2">
        <div class="card h-100 opacity-5">
            <div class="card-body pt-2">
                +
            </div>
        </div>
    </div>
</div>
<form asp-action="InviteUser">
    <div class="form-group">
        <input type="text" name="Email" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" value="Invite" />
    </div>
</form>

@section Banner {

    @if (!String.IsNullOrEmpty(Model.Banner))
    {
        <div class="banner" style="background-image: url('data:image/jpeg;base64,@Model.Banner')">
        </div>
    }

}
