@model Group;

@{
    ViewData["Title"] = "Edit";
    Layout = "_CRUD";
}

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            @await Html.PartialAsync("./Components/Form.cshtml", Model)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
