@model DashboardIndexViewModel;

@{
    Layout = "_Dashboard";

    ViewData["Title"] = "Home Page";
}

@if(await PermissionHelper.IsGodModeOn())
{
    <h1>All Groups</h1>
} else
{
    <h1>My Groups </h1>
}
<div class="row">
    @foreach (var Group in Model.Groups)
    {
        <div class="col-md-3 col-xs-12 col-xl-2 m-1">
            @Html.Partial("./Components/GroupCard", Group)
        </div>
    }
</div>
